<!DOCTYPE html>
<html>
<head>
    <title>Chive</title>
    <link rel="shortcut icon" href="style/chive.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--<meta http-equiv="Content-Security-Policy" content="script-src 'self';">-->
    
    <link href="style/pebble.css" rel="stylesheet" media="screen">
    <script src="js/pebble.js"></script>
    
    <style>
        @font-face {
            font-family: 'gudea';
            src: url(style/gudea.ttf) format('truetype');
        }
        body {
            height:100vh;
            margin:0;
            padding:0;
            font-family:gudea;
        }
        
        .tab-container {
            height:100%;
        }
        
        .tab-container, .tab-pages {
            border-radius:0px;
            border:0px;
        }
        
        .tab-bar {
            flex-wrap:wrap;
            background:rgb(180,180,180) !important;
            border-top:1px solid rgba(0,0,0,0);
            align-items:flex-end;
            justify-content:flex-start;
        }
        
        .tab-bar-space {
            border-bottom:0px !important;
        }
        
        iframe {
            border:0px;
        }
        
        .tab-bar .tab {
            padding:3px 12px;
            background:rgb(230,230,230) !important;
        }
        
        .tab.active {
            /*background:white !important;*/
            background:#3ab779 !important;
            border-top:1px solid #35a86b !important;
            border-left:1px solid #35a86b !important;
            border-right:1px solid #35a86b !important;
            /*color:white !important;*/
            /*text-shadow:0px 1px rgba(30,30,30,0.5);*/
            
        }

        .btn-add {
            font-weight:800;
            background:transparent !important;
            margin:auto 10px;
            box-shadow:none !important;
            font-size:1.8rem;
            color:rgb(100,100,100);
            outline:none;
        }
        
        .btn-add:hover {
            color:rgb(50,50,50);
        }
    </style>
    
</head>

<body>

<div class="tab-container flex-col" id="main_tabs">
    <div id="tabbar" class="tab-bar flex-row-c" onclick="$P.tab.click(event,{afterClose:afterTabClosed})" data-display="flex">
        <div class="tab active" tab-id=1><span>Tab 1</span><button class="btn-close"></button></div>
        <div class="tab-bar-space" id="tabbarspace">
            <button class="btn btn-clear btn-add" onclick="addTab('Chive','{{chive_url}}',1)">&plus;</button>
        </div>
    </div>
    <div id="tabpages" class="tab-pages flex flex-col" >
        <iframe class="tab-page active flex" tab-id=1 src="{{chive_url}}"></iframe>
    </div>
</div>


<script>
    TABCOUNT = 1
    function addTab(title,src,view) {
        TABCOUNT += 1
        var tab_elm = $P.create({
            class:'tab',
            'tab-id':TABCOUNT,
            children:[
                {tag:'span',text:title,},
                {tag:'button',class:'btn-close'}]
            })
        $P.elm('tabbar').insertBefore(tab_elm,$P.elm('tabbarspace'))
        var pg_elm = $P.create({
            tag:'iframe',
            class:'tab-page flex',
            'tab-id':TABCOUNT,
            src:src,
            parent:'tabpages'})
        
        pg_elm.onload =function(){
            tab_elm.children[0].innerText=pg_elm.contentDocument.title
        }
        
        pg_elm.contentWindow.pg_id = TABCOUNT
        $P.listen(pg_elm.contentWindow,'titlechanged',tabTitleChanged)
        $P.listen(pg_elm.contentWindow,'newtab',newTab)
        
        if (view) {
            $P.tab.show(TABCOUNT)
            // $P.tab.show(TABCOUNT,{parent:'tabpages'})
        }
    }
    
    function tabTitleChanged(evt) {
        $P.query(".tab[tab-id='"+evt.target.pg_id+"'] span")[0].innerText = evt.detail
        $P.query(".tab[tab-id='"+evt.target.pg_id+"'] span")[0].title = evt.detail
    }
    
    function newTab(url) {
        addTab('New Tab',url.detail,1)
        if ($P.query('#tabbar .tab').length>1) {
            $P.show('tabbar')
        }
    }
    
    function afterTabClosed() {
        if ($P.query('#tabbar .tab').length<2) {
            $P.hide('tabbar')
        }
    }
    
    $P.query('iframe')[0].contentWindow.pg_id = 1
    $P.listen($P.query('iframe')[0].contentWindow,'titlechanged',tabTitleChanged)
    $P.listen($P.query('iframe')[0].contentWindow,'newtab',newTab)
    
    $P.hide('tabbar')
    
    //---Keypress
    document.onkeydown = function(e) {
        if (e.keyCode == 116 && !e.ctrlKey) {
            // Shft-F5
            e.preventDefault();
        } else if ((e.ctrlKey || e.metaKey || e.altKey) && e.keyCode == 87) {
            // Ctrl-W - disable close
            e.preventDefault();
        } else if (e.keyCode == 82 && e.ctrlKey) {
            // Ctrl-R - disable refresh
            e.preventDefault();
        }
    }
    
</script>
    
</body></html>