<!DOCTYPE html>
<html>
<head>
    <title>chive</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="style/chive.png" type="image/x-icon">
    
    <link href="style/highlight-vs.css" rel="stylesheet" media="screen">
    <link href="style/pebble.css" rel="stylesheet" media="screen">
    <link href="style/chive.css" rel="stylesheet" media="screen">
    
    <script src="js/highlight.js"></script>
    <script src="js/pebble.js"></script>
    <script src="js/chive-ui.js"></script>
    <script src="js/chive-data.js"></script>
    <script src="js/cmarkd.js"></script>
    
    <!---Chive Plugins-->
    {{chive_plugins}}

</head>

<body>
<div class="flex-col"  id="main_page">
    
<!---Titlebar-->
    <div class="flex-row-c shadow" id="titlebar">

    <!---New Buttons-->
        <div class="t-btn-group shadow" id="bg_new" data-display="flex">
            <button class="btn t-btn" onclick="newNotebook()" title="new notebook"><img src="style/img/notebook_new.svg"></button>
            <div class="btn-spacer"></div>
            <button class="btn t-btn" onclick="$P.menu.show('attach_menu',{anchor:this})" title="attach file"><img src="style/img/file_new.svg"></button>
            <button class="btn t-btn" onclick="newLink()" title="new link"><img src="style/img/link_new.svg"></button>
            <button class="btn t-btn" onclick="newTask()" title="new task"><img src="style/img/task_new.svg"></button>
            <button class="btn t-btn" onclick="newNote()" title="new note"><img src="style/img/note_new.svg"></button>
        </div>
        
    <!---Editor Buttons-->
        <div class="t-btn-group shadow hidden" id="bg_edit" data-display="flex">
                <select id="cb_md_notebook" class="pebble" style="margin:0" onchange="mdNotebookChange(true)" title="select notebook"></select>
                <div class="btn-spacer"></div>
                <select id="cb_md_section" class="pebble" style="margin:0" title="select section" onchange=mdEditorChangeFlag()></select>
                <div class="btn-spacer"></div>
                <button class="btn t-btn" onclick="mdSave()" title="save"><img src="style/img/save.svg"></button>
                <div class="btn-spacer"></div>
                <button class="btn t-btn" onclick="$P.toggle('image_insert')" title="insert image"><img src="style/img/image.svg"></button>
                <button class="btn t-btn" onclick="newNoteFile('file')" title="attach file in note"><img src="style/img/file_new.svg"></button>
                <button class="btn t-btn" onclick="newTask()" title="new task"><img src="style/img/task_new.svg"></button>
                <div class="btn-spacer"></div>
                <button class="btn t-btn" onclick="openUrl('/mdhelp',trytab=1)" title="help using markdown"><img src="style/img/help.svg"></button>
        </div>
        
        <!---Search-->
        <div class="flex"></div>
        <input id="titlebar_search" class="pebble" placeholder="search" onkeydown="title_search_keydown(event)" title="use comma for OR and && for AND">
        <!--<span class="flex-row-c pad-l">-->
            <input id="titlebar_search_content" type="checkbox" class="toggle-switch" onclick="searchContent($P.val('titlebar_search'))" title="search in content">
            <!--<div style="font-size:0.6em;padding-left:6px;">search<br>content</div>-->
        <!--</span>-->
        <div class="flex"></div>

        <!--Add Tab Button-->
        <button class="t-btn btn-top-bar iframe-show" onclick="newNotebookTab();" title="new tab"><img src="style/img/plus.svg"></button>

    <!---Main Menu Button-->
        <button class="t-btn btn-main-menu " onclick="$P.menu.show('content_menu',
            {anchor:this, align:'right'})" title="content menu"><img src="style/img/menu.svg"></button>
    </div>

<!--- -->
<!---Menus-->
    <!---Notebook Menu-->
    <div class="menu-container" id="notebook_menu">
        <div class="menu-item iframe-show" onclick="newNotebookTab(CURRENT.notebook_menu);$P.menu.close('notebook_menu')"><img src="style/img/plus.svg"> Open in New Tab</div>
        <div class="menu-separator iframe-show"></div>
        <div class="menu-item" onclick="renameNotebook();$P.menu.close('notebook_menu')">Rename</div>
        <div class="menu-item" onclick="addSection();$P.menu.close('notebook_menu')">Add Section</div>
        <div class="menu-separator"></div>
        <div class="menu-item" onclick="viewFolder(CURRENT.notebook_menu);$P.menu.close('notebook_menu')">Open Folder</div>
        <div class="menu-separator"></div>
        <div id="menu_notebook_archive" class="menu-item" onclick="archiveNotebook();$P.menu.close('notebook_menu')">Archive</div>
        <div class="menu-separator"></div>
        <div class="menu-item" onclick="deleteNotebook();$P.menu.close('notebook_menu')">Delete</div>
    </div>

    <!---Section Menu-->
    <div class="menu-container" id="notebook_section_menu">
        <div class="menu-item iframe-show" onclick="newNotebookTab(CURRENT.notebook_menu,CURRENT.section_menu);$P.menu.close('notebook_section_menu')"><img src="style/img/plus.svg"> Open in New Tab</div>
        <div class="menu-separator iframe-show"></div>
        <div class="menu-item" onclick="renameSection();$P.menu.close('notebook_section_menu')">Rename Section</div>
        <div class="menu-item" onclick="addSection();$P.menu.close('notebook_section_menu')">Add Section</div>
        <div class="menu-separator"></div>
        <div class="menu-item" onclick="deleteSection();$P.menu.close('notebook_section_menu')">Delete Section</div>
    </div>

    <!---Main Menu-->
    <div class="menu-container" id="content_menu" onclick="$P.menu.close()">
        <div class="menu-item iframe-show" onclick="newTab('/')"><img src="style/img/plus.svg"> New Tab</div>
        <div class="menu-item" onclick="home()"><img src="style/chive.svg"> Home</div>
        <div class="menu-item" onclick="home();viewSettings();"><img src="style/img/blank.svg"> Settings</div>
        <div class="menu-separator"></div>
        <div class="menu-item" onclick="location.href=''"><img src="style/img/blank.svg"> Refresh</div>
    </div>

    <!---Entry Menu-->
    <div class="menu-container" id="entry_menu" onclick2="$P.menu.close('entry_menu')">
        <div onclick="$P.menu.close()">
        <div class="menu-item" onclick="currentEntryEdit()"><img src="style/img/edit.svg"> Edit</div>
        <div class="menu-item iframe-show" onclick="currentEntryNewTab()"><img src="style/img/plus.svg"> Open in New Tab</div>
        <div class="menu-item" onclick="currentEntryPin()" ><img id="img_pin" class="pin"> <span id="entry_menu_pin_text">Pin</span></div>
        <div id="menu_content_append" class="menu-item" onclick="appendContent(CURRENT.midlist)"><img src="style/img/active_black.svg"> Append on Right</div>
        </div>
        <div id="menu_content_export" class="menu-item" onclick="$P.menu.show('entry_export_menu')"><img src="style/img/blank.svg"> Export &rsaquo;</div>
        <div class="menu-separator"></div>
        <div class="menu-item" onclick="$P.menu.close('entry_menu');currentEntryArchive()">
            <img src="style/img/blank.svg"> 
            <span id="menu_content_archive">Archive</span></div>
        <div class="menu-item" onclick="$P.menu.close('entry_menu');currentEntryDelete()"><img src="style/img/trash.svg"> Delete</div>
    </div>

        <!---Export Menu-->
        <div class="menu-container" id="entry_export_menu" onclick="$P.menu.close()">
            <div id="menu_content_open" class="menu-item" onclick="openCurrentEntry()"><img src="style/img/link.svg"> Open in Browser</div>
            <div id="menu_content_export" class="menu-item" onclick="currentEntryExport()"><img src="style/img/blank.svg"> Export as Markdown</div>
            <div id="menu_content_export" class="menu-item" onclick="currentEntryExport('html')"><img src="style/img/blank.svg"> Export as HTML</div>
        </div>

    <!---Attachment Menu-->
    <div class="menu-container" id="attach_menu" onclick="$P.menu.close()">
        <div class="menu-item"  onclick="newBlankFile()" ><img src="style/img/file.svg"> New File</div>
        <div class="menu-item" onclick="newFile()"><img src="style/img/file_open.svg"> Select File</div>
    </div>

    <!--- -->
    <div class="flex-row flex" style="min-height: 0;">

    <!--Left Split-->
        <div class="flex flex-col" style="min-height: 0;">
<!---Markdown Note Editor-->
            <div id="editor" class="flex-col hidden shadow-r" data-display="flex">
                <!--Editor Toolbar-->
                <div class="flex-row" id="editor_toolbar">
                    <input id="i_md_title" class="flex" type="text" placeholder="title" oninput="mdEditorChangeFlag()">
                    <span class="btnc" onclick="mdClose()" title="close and save">&times;</span>
                </div>
                <!--Editor Text area-->
                <iframe src="editor" id="i_md_editor" scrolling="auto"></iframe>
                
            </div>
            
<!--- -->
<!---Side Navigation-->
            <div id="side_nav" class="flex-row flex" data-display="flex">
                <div class="flex flex-col shadow-r" id="side_nav_left">
                    <!--<div class="spacer-sm"></div>-->
                    <div class="side-link side-link-recent" onclick="loadRecent()">Recent</div>
                    
    <!---Notebook List-->
                    <div id="notebook-list">
                        <div class="notebook-heading">
                            <!--Notebooks-->
                            <input class="pebble" id="i_notebook_filter" type="text" placeholder="find notebook" onkeyup="notebook_find_keyup(event)">
                        </div>
                    </div>
                    <div id="notebooks" class="flex" tabindex="1"></div>
    
        <!---Calendar-->
                    <div id="left_cal">
                        <div class="align-c">
                            <img src="style/img/up.svg" class="float-l" onclick="$P.toggle('cal_months')" id="b_cal_up" title="view calendar months">
                            <select id="cb_cal_years"></select>
                            <div class="hidden" style="max-width:260px;" id="cal_months" data-display="inline-block">
                                
                                <div class="flex-container" >
                                    <span class="cal-month" onclick="loadMonth(1)">Jan</span>
                                    <span class="cal-month" onclick="loadMonth(2)">Feb</span>
                                    <span class="cal-month" onclick="loadMonth(3)">Mar</span>
                                    <span class="cal-month" onclick="loadMonth(4)">Apr</span>
                                    <span class="cal-month" onclick="loadMonth(5)">May</span>
                                    <span class="cal-month" onclick="loadMonth(6)">Jun</span>
                                    <span class="cal-month" onclick="loadMonth(7)">Jul</span>
                                    <span class="cal-month" onclick="loadMonth(8)">Aug</span>
                                    <span class="cal-month" onclick="loadMonth(9)">Sep</span>
                                    <span class="cal-month" onclick="loadMonth(10)">Oct</span>
                                    <span class="cal-month" onclick="loadMonth(11)">Nov</span>
                                    <span class="cal-month" onclick="loadMonth(12)">Dec</span>
                                </div>
                                <div class="spacer-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
    <!--- -->
    <!---MidList-->
                <div class="flex flex-col" id="middle">
                    <div class="flex rad-s" id="midlist_wrapper">
                        <div class="flex-row">
                            <h2 id="midlist_title" class="pebble align-c space-n pad flex"></h2>
                            <div id="b_midlist_menu" onclick="$P.menu.show('midlist_menu',
                                {anchor:this, align:'right',loc:'below'})"><img src="style/img/menu.svg" style="max-height:24px;"></div>
                        </div>
                        <div id="midlist_tasks" class="entry" onclick="viewTasks()"><img src="style/img/task.svg"> Tasks</div>
                        <div id="midlist" class="flex" onkeydown="midlistKeypress(event)" tabindex="2" ></div>
                    </div>
                    <div class="align-l flex-row">
                        <input class="flex" id="i_midlist_filter" type="text" placeholder="filter entries ^" onkeyup="midlist_find_keyup(event)">
                        <div>&nbsp;</div>
                        <input class="flex" id="i_content_find" type="text" onkeyup="findContent()" placeholder="find on page &rsaquo;">
                    </div>
                </div>
                
                <!---Midlist Menu-->
                <div class="menu-container" id="midlist_menu" onclick="$P.menu.close('midlist_menu')">
                    <div class="menu-item" onclick="viewFolder(CURRENT.notebook)" title="open notebook folder outside of Chive"><img src="/style/img/blank.svg">Open Notebook Folder</div>
                    <div class="menu-item" onclick="viewAllEntries()" title="view all visible entries on the right"><img src="/style/img/active_black.svg">View All Entries</div>
                    <div id="midlist_menu_view_archived" class="menu-item" onclick="toggleArchived()" title="show/hide content that has been archived"><img src="/style/img/blank.svg">View Archived Content</div>
                </div>
                
            </div>
        </div>
        
<!--- -->
<!---Content Viewer-->
        <div class="flex pad-lg12 shadow-l2" id="content_viewer"></div>
        
    </div>
</div>


<!--- -->
<!---Dialogs-->
    <!---Link Editor-->
<div id="link_editor" class="insert_dialog shadow hidden">
    <div class="form-row"><div class="form-label">Notebook:</div><select id="cb_link_nbk" key="nbk_uuid" onchange="linkNotebookChange()"></select></div>
    <div class="form-row"><div class="form-label">Section:</div><select id="cb_link_section" key="sec_uuid"></select></div>
    <div class="form-row"><div class="form-label">Title:</div><input id="i_link_title" type="text" key="title"></div>
    <div class="form-row" id="link_editor_url_row" data-display="flex"><div class="form-label">URL:</div><input id="i_link_url" type="text" key="url"></div>
    <div class="form-row"><div class="form-label">Description:</div><textarea id="te_link_desc" key="desc"></textarea></div>
    <div class="spacer-sm"></div>
    <div class="align-c">
        <button class="btn" onclick="saveLink()"><img src="style/img/save.svg"> save & close</button>
        <button class="btn" onclick="$P.hide('link_editor')"><img src="style/img/cross.svg"> cancel</button>
    </div>
</div>

    <!---Image Insert Dialog-->
<div id="image_insert" class="insert_dialog shadow hidden">
    <b>Insert Image File:</b>
    <button class="btn" onclick="newNoteFile('img')"><img src="style/img/file_open.svg"> Select File</button>
    <br><br>&nbsp; &nbsp; &nbsp; or
    <br>
    <br><b>Paste From Clipboard</b>
    <textarea id="i_md_img_clip" placeholder="paste image from clipboard here" style="width:100%;height:60px;"></textarea>
    <button class="btn" onclick="$P.hide('image_insert')"><img src="style/img/cross.svg"> cancel</button>
</div>

    <!---Task Editor-->
<div id="task_editor" class="panel-r pebble hidden">
    <h2 class="flex-row-c"><img src="style/img/task.svg"><div class="flex margin-sm-l">Edit Task</div></h2>
    
    <!--Notebook-->
    <div class="form-row">
    <select id="cb_task_nbk" key="nbk_uuid" title="select notebook" onchange="taskNotebookChange()"></select>
    </div>

    <!--Section-->
    <div class="form-row">
        <select id="cb_task_section" key="sec_uuid" title="select section"></select>
    </div>

    <div class="form-row">
        <textarea id="task-edit-title" placeholder="task text"></textarea>
    </div>
    <div class="spacer-sm"></div>
    <div class="form-row"><div class="form-label">Status:</div>
        <select id="task-edit-status">
            <option value="active">Active</option>
            <option value="backlog">Backlog</option>
            <option value="done">Done</option>
            <option value="cancel">Cancel</option>
        </select></div>
    <div class="form-row"><div class="form-label">Priority:</div>
        <select id="task-edit-priority">
            <option value="normal">Normal</option>
            <option value="bug">Bug</option>
            <option value="important">Important</option>
            <option value="wait">Wait</option>
        </select></div>

    <div class="form-row"><div class="form-label">Due:</div>
        <input type="date" id="task-edit-due-date"></div>
    <div class="form-row"><div class="form-label">Plan:</div>
        <input type="date" id="task-edit-plan-date"></div>
    <div class="form-row">
        <div class="form-label">&nbsp;</div>
        <button class="btn" onclick="planToday()" title="set plan to today"><img src="style/img/today.svg"></button>
        <button class="btn" onclick="planSnooze(1)" title="snooze 1 day"><img src="style/img/snooze1.png"></button>
        <button class="btn" onclick="planSnooze(7)" title="snooze 7 days"><img src="style/img/snooze7.png"></button>
        <div class="flex"></div>
    </div>
    <div class="form-row">
        <textarea id="task-edit-notes" placeholder="notes" title="notes"></textarea>
    </div>
    <div class="form-row">
        <input id="task-edit-note-link" type="text" placeholder="note link id" title="link to a note (enter the note id)" style="font-size:0.8em;text-align:center;">
    </div>

    <div class="spacer"></div>
    <div class="form-row">
        
        <button class="panel-button" onclick="saveTask();closeTaskEditor();" id="b_task_save"><img src="style/img/save.svg"> save & close </button>
        <button class="panel-button" onclick="closeTaskEditor()"> <img src="style/img/cross.svg"> cancel </button>
        <span class="flex"></span>
    </div>

    <div class="spacer-lg"></div>
    <div class="form-row">
        <div class="flex" id="l_task_dates">
            
        </div>
        <button class="panel-button" onclick="deleteTask()"><img src="/style/img/trash.svg"> delete </button>
    </div>

</div>

        <!---Task Menu-->
<div class="menu-container" id="task_menu">
    <div class="menu-item" onclick="changeTask('status','done')"><img src="/style/img/done.svg">Done</div>
    <div class="menu-item" onclick="changeTask('status','active')"><img src="/style/img/active.svg">Active</div>
    <div class="menu-item" onclick="changeTask('status','backlog')"><img src="/style/img/backlog.svg">Backlog</div>
    <div class="menu-separator"></div>
    <div class="menu-item" onclick="changeTask('edit')"><img src="/style/img/edit.svg">Edit</div>
</div>

<!--- -->
<!---Home-->
<script type="template" id="tpl_home">
    <div class="content_block shadow pebble">
        <h1><img src="style/chive.svg" style="height:1em;vertical-align:bottom;"> Chive Notebook</h1>
        An <i>ar</i>chive for notes, files, links, and more. 
        <br><br>Notes are written and stored in <a onclick="openUrl('/mdhelp',trytab=1)">Markdown</a>.
        <div class="spacer-lg"></div>
        <a onclick="viewSettings()">Settings</a>
        <div id="setting_info" class="hidden">
            <div class="spacer"></div>
            <div id="setting_details"></div>
            <div class="spacer"></div>
            <div class="notify bg-gray">
                To edit your settings, open the <b>.chive</b> file (from your home directory) in a text editor, save and then restart Chive.
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</script>

<!--- -->
<!---Error-->
<div id="error_message" class="notify hidden">
    <span id="error_text"></span>
    <button onclick="$P.hide('error_message')" class="btn-close"></button>
</div>

<!--- -->
<!---File Hidden Elements-->
<input id="file_input" type="file" style="display:none;" onchange="fileSelected(event)">
<input id="file_note_input" type="file" style="display:none;" onchange="noteFileSelected(event)">
<a id="download_element" class="hidden"></a>

</body></html>