@font-face {
    font-family: 'gudea';
    src: url(gudea.ttf) format('truetype');
}

@font-face {
    font-family: 'exo2';
    src: url(exo2.ttf) format('truetype');
}

body {
    margin:0;
    padding:0;
    height:100%;
    background:rgb(240,240,240);
}

body, .pebble, h1,h2,h3,table, input, textarea, select {
    font-family:gudea !important;
}

h1,h2,h3 {
    font-family:exo2 !important;
}

a {
    cursor:pointer;
}

#main_page {
    height:100vh;
    box-sizing:border-box;
}

h1,h2 {
    font-weight:100;
}

h1 img, h2 img {
    height:1em;
    vertical-align:top;
}

table {
    border-collapse:collapse;
}
td p, th p {
    margin:0;
}

.menu-container {
    background:rgb(240,240,240);
}

/*---*/
/*---Scroll*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow:none;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100,100,100,0.2); 
  border-radius: 3px;
}

/*---TItlebar*/
#titlebar {
    background: linear-gradient(to bottom, #3ab779 0%,#35a86b 100%);
    color:white;
    box-sizing:border-box;
    padding-left:6px;
    padding-right:6px;
    z-index:20;
}

#titlebar-icon {
    max-height:36px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:12px;
    margin-right:12px;
    cursor:pointer;
}

#titlebar-icon:hover {
    opacity:0.9;
}

#titlebar_search {
    font-size:0.8em;
    /*margin:6px;*/
    color:white;
    background:rgba(35,35,35,0.2);
    border:0px;
    text-align:center;
    flex-basis:280px;
}
#titlebar_search::placeholder {
    color:rgba(30,30,30,0.6);
}

#titlebar_search_content {
    background:rgba(80,80,80,0.4);
    margin-left:6px;
}
#titlebar_search_content:checked {
    background:rgb(177,236,208);
    background:rgb(155,229,155);
}

#titlebar_search_content:before {
    background:rgba(140,140,140,0.8);
}

.t-btn-group {
    display:flex;
    box-sizing:border-box;
    border:1px solid rgba(0,0,0,0.3);
    margin:4px 2px;
    border-radius:3px;
}
.btn-spacer {
    width:12px;
    border-left:1px solid rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.4) 100%);
}

.t-btn {
    border:0px;
    border-left:1px solid rgba(0,0,0,0.2);
    cursor:pointer;
    margin:0px !important;
    border-radius:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.3) 100%);
}
.btn-main-menu, .btn-top-bar {
    background:transparent!important;
    border:0px !important;
    opacity:0.7;
}

.btn-top-bar {
    opacity:0.6;
}

.btn-top-bar img {
    height:1.5rem !important;
    margin:auto;
}

.btn-main-menu:hover, .btn-top-bar:hover {
    opacity:1;
}

.menu-current-content {
    display:none;
}

#cb_md_notebook, #cb_md_section {
    padding:0px 6px !important;
    font-size:1rem;
    background:rgba(255,255,255,0.75);
}
.t-btn img {
    margin-right:0px;
}
.t-btn:hover {
    /*background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(209,209,209,1) 100%);*/
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
}

.btn-group .t-btn:first-child {
    border-left:0px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.btn-group .t-btn:last-child {
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

.t-btn img {
    height:28px;
}


/*---Sidebar*/

#side_nav {
    min-height: 0;
}

#side_nav_left {
    /*background:rgb(38,46,57);*/
    /*background:rgb(31,43,41);*/
    background:rgb(38,42,47);
    color:white;
    z-index:1;
    padding:0;
    font-family:exo2;
}

.side-link {
    cursor:pointer;
    color:rgba(240,240,240,0.9);
    box-sizing:border-box;
    padding-left:6px;
}

.side-link.archived{
    opacity:0.6;
}

.side-link:hover {
    background:rgba(30,30,30,0.9);
    color:white;
}

.side-link-name {
    padding:5px 8px;
    padding-left:6px;
    flex:1;
}

.side-link-recent {
    padding:8px;
}

.side-link-img {
    display:inline-block;
    height:1.2em;
    width:1.2em;
    box-sizing:border-box;
    opacity:0.6;
    background-image:url(img/notebook_w.svg);
    background-size:contain;
}

.side-link-img.open {
    background-image:url(img/notebook_w_open.svg);
}

.side-link.active .side-link-img {
    background-size:contain;
    background-image:url(img/notebook_g.svg);
    opacity:1;
}

.side-link:hover img,.side-link:hover .side-link-img  {
    opacity:1;
}

.side-link.active {
    color:white;
    color:rgb(116,216,138);
    color:rgb(121,224,175);
}
.side-link.active img {
    opacity:1;
}

.side-link-sections {
    display:none;
}

.side-link.active .side-link-sections, .side-link-sections.active {
    display:block;
}

.side-link-sections {
    margin-left:10px;
}

.side-link-section-item:before {
    content:'\00B7\00a0';
}
.side-link-section-item {
    padding-bottom:2px;
    color:white;
    opacity:1;
}
.side-link-section-item:last-child {
    padding-bottom:6px;
}
.side-link-section-item:hover {
    color:rgb(177,236,208);
}

.side-link.dragover {
    background:rgba(148,204,234,0.1) !important;
}

.side-link-section-item.dragover {
    color:rgb(80,178,231) !important;
}

/*---Notebook List*/
#notebook-list {
    border-top:1px solid rgba(80,80,80,0.8);
    overflow-y:auto;
}
#notebooks {
    font-family:exo2;
    outline:none;
    
}
.notebook-heading {
    text-align:center;
    font-size:1.1em;
    padding-top:0px;
    padding-bottom:6px;
    color:rgba(78,113,159,1);
    color:rgba(206,248,236,1);
}

#i_notebook_filter {
    font-size:0.8em;
    width:100%;
    box-sizing:border-box;
    margin:0;
    border:0px;
    border-radius:0;
    background:rgba(30,30,30,0.8);
    color:white;
    padding:6px 12px;
}


/*---Cal*/
#left_cal {
    border-top:1px solid rgba(80,80,80,0.8);
}

#cb_cal_years {
    text-align:center;
    margin:auto;
    font-size:1.2em;
    background:rgb(38,46,57);
    background:rgb(31,43,41);
    background:rgb(38,42,47);
    border:1px solid rgba(0,0,0,0);
    padding:6px 10px;
    color:white;
   -webkit-appearance: none; 
   -moz-appearance: none;
   cursor:pointer;
}

.cal-month {
    flex:1;
    flex-basis:50px;
    text-align:center;
    padding:3px 12px;
    box-sizing:border-box;
    cursor:pointer;
    color:rgb(230,230,230);
    border:1px solid rgba(0,0,0,0);
}

.cal-month:hover, #cb_cal_years:hover {
    color:white;
    border:1px solid rgba(255,255,255,0.5);
    border-radius:3px;
}

#b_cal_up {
    height:24px;
    margin-left:16px;
    margin-top:6px;
    cursor:pointer;
    opacity:0.8;
}
#b_cal_up:hover {
    opacity:1;
}

/*---Notebook*/
#notebooks {
    overflow-y:auto;
    overflow-x:hidden;
}

/*---Middle List*/
#middle {
    flex-grow:1.5;
    padding:8px;
    padding-bottom:2px;
}
#midlist_wrapper {
    background:white;
    min-height:0;
    overflow-y:auto;
    font-family:exo2;
}

#midlist_tasks {
    background:white;
    font-size:1.1em;
    border-top:1px solid rgb(220,220,220);
}

#midlist {
    flex:1;
    outline:none;
}

#midlist .entry:first-child {
}

.entry {
    border-bottom:1px solid rgb(220,220,220);
    padding:6px;
    font-size:0.9em;
    color:rgb(50,50,50);
    box-sizing:border-box;
    overflow: auto;
    display:flex;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.entry.active, #midlist_tasks.active {
    background: linear-gradient(to bottom, rgba(121,224,175,0.8) 0%,rgba(86,215,154,0.8) 100%);
}

.entry:hover, #midlist_tasks:hover {
    background:rgb(121,224,175,0.4);
    cursor:pointer;
}

.entry.active:hover, #midlist_tasks.active:hover {
    background: linear-gradient(to bottom, rgba(121,224,175,0.8) 0%,rgba(86,215,154,0.8) 100%);
}

.entry-section {
    border-bottom:1px solid rgb(220,220,220);
    padding:4px;
    /*padding-top:8px;*/
    background:rgb(240,240,240);
}

.mid_info {
    font-size:0.8em;
    color:rgb(120,120,120);
    padding:0px 0px 0px 6px;
    box-sizing:border-box;
    text-align:right;
}

.entry img {
    height:1.2em;
    float:left;
    padding-right:6px;
}

.entry img.pin {
    content:'';
}

.entry img.pinned {
    content:url("img/pinned.svg");
}

.entry.archived {
    opacity:0.6;
}

#b_midlist_menu {
    padding:12px 8px;
    opacity:0.6;
    cursor:pointer;
}
#b_midlist_menu:hover {
    opacity:0.8;
}

/*---Content*/
#content_viewer {
    overflow-y:auto;
    padding-bottom:8px;
}
.content_block {
    background:white;
    padding:16px;
    margin-top:8px;
}
#content_viewer h1,
#content_viewer h2,
#content_viewer h3,
#content_viewer h4 {
    border:0px;
}

#content_viewer pre {
    padding:0px;
    overflow-x:auto;
}

#content_viewer pre code {
    padding:6px;
}

#content_viewer code {
    background:rgb(245,245,245);
}

#content_viewer h1.content-title {
    margin-top:0;
    border-bottom:1px solid rgb(200,200,200);
    margin-left:-16px;
    margin-right:-16px;
    padding-left:16px;
    padding-right:16px;
}

#content_viewer h1.content-title.viewall {
    align-items:center;
}

#content_viewer h1.content-title .title-date {
    font-size:0.6em;
    padding:0px 8px;
}

#content_viewer h1.content-title .btn-sm {
    margin-right:-8px;
}

.content-footer {
    font-size:0.8em;
    margin:10px;
    margin-top:30px;
    color:rgb(130,130,130);
}

.content-date img {
    height:1em;
    vertical-align:top;
    margin-left:4px;
    cursor:pointer;
    display:none;
}

.content-date:hover img {
    display:inline-block;
}

.content-info {
    float:right;
    clear:both;
    padding:2px 12px;
    margin-right:-16px;
    font-weight:bold;
    opacity:0.8;
    cursor:pointer;
}

.content-info:hover {
    opacity:1;
}

.btn-content-edit {
    margin-right:-8px !important;
    margin-top:-4px !important;
    margin-left:8px !important;
}

/*---Find*/
#content_find {
    position:fixed;
    bottom:0;
    right:0;
    border:1px solid rgb(200,200,200);
    background:white;
    vertical-align:top;
    border-bottom:0px;
    border-right:0px;
}

#i_content_find, #i_midlist_filter {
    margin:0px;
    margin-top:2px;
    font-size:0.9rem;
    padding:4px 8px;
    outline:none;
    border:1px solid rgb(200,200,200);
    border-radius:4px;
}

#content_find a {
    font-size:1.2em !important;
}

/*---Custom Markdown formatting*/
li.checkbox,li.cancelled,li.future {list-style-type: none;margin-left:-25px;}
li.cancelled {text-decoration:line-through;color:gray;}
li.future {font-style:italic;color:gray;}
li.checked {color:gray;} 


/*---Content Toolbar*/
img.pin {
    content:url("img/pin.svg");
}

img.pinned {
    content:url("img/pinned.svg");
}

/*---Editor*/
#editor {
    box-sizing:border-box;
    flex:1;
    z-index:1;
    margin-right:4px;
}
#editor_toolbar {
    background:rgb(220,220,220);
    background: linear-gradient(to bottom, rgb(238,238,238) 0%,rgb(230,230,230) 100%);
    border-bottom:1px solid rgb(180,180,180);
    position:relative;
}
#i_md_editor {
    width:100%;
    box-sizing:border-box;
    border:0px;
    padding:0px;
    background:white;
    flex:1;
}
#i_md_title {
    width:100%;
    box-sizing:border-box;
    font-size:1.6em;
    padding:4px 10px;
    border:0px;
    background:transparent;
}

#editor_toolbar .btnc {
    padding:0px 12px;
    font-size:2em;
    box-sizing:border-box;
    cursor:pointer;
    color:rgb(80,80,80);
}
#editor_toolbar .btnc:hover {
    color:black;
}

.insert_dialog {
    position:fixed;
    top:46px;
    right:0;
    left:0;
    margin:auto;
    width:500px;
    max-width:50%;
    background:rgb(38,42,47);
    color:white;
    padding:10px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    z-index:10;
    border-top:0px;
}


/*---Link Editor*/
#te_link_desc {
    height:130px;
    font-size:0.9rem;
}

.form-label {
    flex-basis:110px;
}

/*---*/
/*---Task Content*/
.task-item {
    display:flex;
    background:white;
    justify-content:center;
    align-items:center;
    margin-right:6px;
    cursor:pointer;
    margin-bottom:2px;
    margin-left:20px;
}

.task-title {
    flex:1;
    padding:6px 12px;
}
.task-icon {
    padding:8px;
    display:flex;
}
.task-icon img {
    max-height:20px;
}

.task-item.bug {
    background:rgb(236,255,234);   
}

.task-item.important {
    background:rgb(252,255,234);   
}

.task-item.done, .task-item.cancel {
    background:rgb(245,245,245);
    color:rgb(150,150,150);
    text-decoration:line-through;
}

.task-item-due-date {
    font-size:0.8em;
    color:rgb(110,165,122);
    text-align:center;
    margin-right:8px;
}

.task-item:hover {
    background:rgb(245,245,245);
}

.task-header {
    font-weight:100;
    margin-bottom:4px;
}
h2.task-header {
    border-top:1px solid rgb(150,150,150) !important;
    margin-bottom:8px;
    margin-top:14px;
    cursor:pointer;
    padding-top:4px;
}

h2.task-header img {
    float:left;
    height:1.1em;
    margin-right:6px;
    margin-top:0.05em;
}

h3.task-header {
    margin-top:8px;
    margin-left:10px;
    color:rgba(0,0,0,0.8);
}

.task-title-link {
    margin-right:8px;
    cursor:pointer;
    opacity:0.6;
}

.task-title-link.active {
    opacity:1;
}

.task-title-link:hover {
    color:black;
    opacity:1;
}

/*---Notebook Tasks View*/
.task-notebook-item {
    padding:10px 12px;
    font-size:1.2rem;
}

.task-notebook-item img {
    height:1.4rem;
    margin-right:6px;
}

.task-notebook-item-title {
    font-size:1.4rem;
}

.task-notebook-item img:first {
    height:1.6rem;

}


/*---*/
/*---Task Editor*/
#task_editor {
    background:rgb(38,42,47);
    color:rgb(200,200,200);
}
#task_editor h2, #section_editor h2 {
    margin-top:0px;
    margin-bottom:6px;
    padding: 4px 10px;
    color:white;
}

#task-edit-title, #task-edit-notes {
    width:100%;
    box-sizing:border-box;
    font-size:1em;
    flex:1;
    height:6rem;
}

#task_editor .form-row {
    margin-left:6px;
    margin-right:6px;
}

#task_editor .form-label {
    text-align:right;
    flex-basis:100px;
}

#task-edit-notes {
    font-size:0.9em;
    height:8em;
    font-family: monospace;
}
#l_task_dates {
    font-size:0.8em;
    text-align:right;
    padding-right:12px;
}


/*---*/
/*---Task Editor*/
#section_editor {
    z-index:200;
    align-items:center;
}

.sec-item {
    justify-content:center;
    min-height:0;
    border-top:1px solid rgb(240,240,240);
}

.sec-item-text {
    flex:1;
    padding:4px;
    padding-left:8px;
    align-items:center;
}

/*---*/
/*---Error*/
#error_message {
    /*display:none;*/
    display:inline-block;
    position:fixed;
    bottom:0;
    right:0;
    padding-right:40px;
}